<div class="row margin__top--m">
  <div class="col-xs-12">
    <h1>
      <i class="icon-question-circle" aria-hidden="true"></i> Support
    </h1>
  </div>
</div>
<div class="row margin__top--m">
  <div class="col-xs-12 support_content">
    <p>Don't despair!</p>
    <p>In case of any issues with MiCROSS, please direct your questions or feedback to our
    <a href="mailto:micross.game@gmail.com?subject=MiCROSS Support" class="support_link">Support</a>.
      We will try to get in contact within 24 hours.</p>
  </div>
</div>
